# dependencies
node_modules

# build outputs
dist
build

# logs
*.log

# environment files
.env
.env.local
.env.*.local

# next.js / react
.next
out

# coverage reports
coverage

# misc
.DS_Store
.vscode